@model object

<!DOCTYPE html>

<html>
<head>
    <title>Add Goods</title>
</head>
<body>
    <div>
        <form method="post">
            <label>Goods name</label>
            <input type="text" name="goodsName" />
            <label>Category name</label>
            <input type="text" name="categoryName" />
            <label>Manufacturer name</label>
            <input type="text" name="manufacturerName" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>