@using System.Collections

@{
    ViewData["Title"] = "ShopBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
</head>
<body>

<div>
    <table class="table mt-5">
        <tr>
            <td><h4>Name</h4></td>
            <td><h4>Price</h4></td>
        </tr>

        @{
            Stack<Goods> basketStack = ViewBag.BasketStack;
            foreach (var basket in basketStack)
            {
                <tr>
                    <td>@basket.Name</td>
                    <td>@basket.Price</td>
                </tr>
            }

        }
    </table>
    <div style="width: 15%">
        <form method="post" asp-controller="Goods" asp-action="SendEmailWithGoods">
            <div class="form-group">
                <label for="email"><h4>Enter Email</h4></label>
                <input class="formTextField" type="text" name="email" id="email"/>
            </div>
            <div class="form-group">
                <input class="formSubmitButton" type="submit" value="Buy"/>
            </div>
        </form>
    </div>
    
</div>

</body>
</html>

