
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>
<div>
    <div>
        <form method="post" asp-controller="Account" asp-action="ForgotPassword">
            <input type="text" name="email" placeholder="Email"/>
            <input type="text" name="newPassword" placeholder="New Password"/>
            <input type="submit" value="Change"/>
        </form>
    </div>
</div>
